@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.dark body {
  background-color: #1a202c; /* Example dark background */
  color: #cbd5e0; /* Example light text */
}